<h1>EducationSuperHighway</h1>
<h2>Coding Challenge</h2>
<h3>Eli Smukler - Web Developer</h3>

<div class="y-label">Average Cost per Megabit ($)</div>
<%= column_chart @avg_costs %>
<div class="x-label">BEN (Billed Entity Number)</div>
