<h1>EducationSuperHighway</h1>
<h2>Coding Challenge</h2>
<h3>Eli Smukler - Web Developer</h3>

<section class="chart group">
  <div class="chart"><%= column_chart @avg_costs %></div>
  <div class="y-label">Average Cost per Megabit ($)</div>
  <div class="x-label">BEN (Billed Entity Number)</div>
</section>
